body {
    font-family: monospace;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: #9a97b4;
  }

  h1 {
    font-size:48px;
    position: absolute;
    top: 0;
    margin-bottom:auto;
    left: 50%;
    transform: translateX(-50%);
    color: firebrick;
  }

  .footer {
    
    bottom:0;
    margin-top: auto;
    color: firebrick;
    font-size:48px;
    


  }
  
  .calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    width: 50vh;
    gap: 50px;
    border: 20px solid black;
    border-radius: 30px;
    background-color:#150f20;
    margin:auto;

    font-size: 32px;
  }
  
  .row {
    display: flex;
  }
  
  .calculator,
  .row {
    gap: 16px;
  }
  
  .row,
  #display,
  button {
    flex: 1;
  }
  
  #zero {
    flex: 2.5;
  }
  
  #display,
  button {
    font-size: 1.5em;
  }
  
  button,
  #display {
    border: 2px solid;
    border-radius: 20px;
  }
  
  .number,
  #point {
    background-color: #d3d2d0;
    border-color: black;
  }
  
  .operator,
  #clear,
  #undo {
    background-color: #9764ab;
    border-color: black;
  }
  
  #equal {
    background-color: #9ec6e1;
    border-color:black;
  }
  
  #display {
    border-color: black;
    background-color:darkseagreen;
  }

  #clear {
    background-color: crimson;
  }

  #undo {
    background-color: lightsalmon;
  }